<a href="https://colab.research.google.com/github/Lakhan-123/PandasCode/blob/main/waysToCreateDataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [35]:
dataset = pd.read_csv('Data.csv')
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [43]:
df = pd.read_excel('weather.xlsx', 'Sheet1')
df

         day  tempreture  windspeed  event
0 2020-01-01          32          6   Rain
1 2020-02-01          35          7  Sunny
2 2020-03-01          28          2   Snow
3 2020-04-01          24          7   Snow
4 2020-05-01          32          4   Rain
5 2020-06-01          32          2  Sunny

In [46]:
#dictionary should be column format to create a dataframe 
#weather_data = {
#    'day': ['1/1/2020', '1/2/2020', '1/3/2020', '1/4/2020', '1/5/2020', '1/6/2020'],
#    'temp': [32, 35, 28, 24, 32, 31],
#    'windspeed': [6, 7, 2, 7, 4, 2],
#    'event': ['Rain', 'Sunny', 'snow', 'snow', 'Rain', 'Sunny']
#}

#list of tuple should be in row format to create a dataframe
person_data = [
               ('1/1/2020', 32, 4, 'Rain'),
               ('1/2/2020', 35, 2, 'Sunny'),
               ("1/3/2020", 28, 5, 'Snow')
]
dft = pd.DataFrame(person_data, columns=['day', 'temp', 'wind', 'event'])
dft
#U can also create list of dictionaries with column name

        day  temp  wind  event
0  1/1/2020    32     4   Rain
1  1/2/2020    35     2  Sunny
2  1/3/2020    28     5   Snow